iframe{
margin-left: 20%;
margin-right : 20%;
border : none;
border-radius: 20px;
box-shadow:  0 0 10px rgb(255, 152, 94);
}

.h1_btn{
  background: none;
  border: none;
}
.is_inbl{
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}

.main_page_box {
  margin-top: 10%;
}


.btn_with_bg{
  background-color: rgb(255, 152, 94);
  box-shadow: 0 0 15px rgba(255, 152, 94, 0.6), 0 0 30px rgba(255, 152, 94, 0.45), 0 0 55px rgba(255, 152, 94, 0.25), 0 0 50px rgba(255, 152, 94, 0.1);
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-family: Raleway;
  border: none;
  font-weight: bolder ;
  letter-spacing: 2px;
  width: 100px;
  animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.1s both;

}

.btn_with_bg2{
  background-color: rgb(255, 152, 94);
  box-shadow: 0 0 15px rgba(255, 152, 94, 0.6), 0 0 30px rgba(255, 152, 94, 0.45), 0 0 55px rgba(255, 152, 94, 0.25), 0 0 50px rgba(255, 152, 94, 0.1);


  display: inline-block;

  font-family: Raleway;
  border: none;
  font-weight: bolder ;
  letter-spacing: 2px;
  height: 40px;
  font-weight: bolder;
  border-radius: 3px;
  width: 10%;
  margin-left: 5%;
  margin-right: 4%;

  /* animation: fade-in-fwd 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.1s both; */

}


@font-face {
    font-family: "myFirstFont";
    src: url('/Users/shreysharma/Desktop/coding/Flask_practice/virtualenv_csd345/static/fonts/heading_font.ttf') format('truetype');
}

.myfont{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}


.body_bg_index{

background-image: url('/static/images/spark_bg.png');
background-size:cover;
background-attachment: fixed;

}

.body_bg_home{

background-image: url('/static/images/spark_bg.png');
background-size:cover;
background-attachment: fixed;

}

.body_bg_maps{

background-image: url('/static/images/spark_bg_1.png');
background-size:cover;
background-attachment: fixed;

}
h1.main_title{

  /* text-align: bottom ; */
  animation-name: spark;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* font-family: 'Orbitron', sans-serif; */
  font-size: 160px;
  color: rgb(255, 152, 94);
  margin-left: 40px;
  margin-bottom: 0px;


}

.other_title{
	animation: shadow-drop 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* font-family: 'Orbitron', sans-serif; */
  font-size: 160px;
  color: rgb(255, 152, 94);
  margin-left: 40px;
  margin-bottom: 0px;


}


h2.subtitle{

  font-family: Raleway;
  color: white;
  font-size: 26px;
	animation: appear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  text-align: left;
  color: #FF985E;
  margin-left: 50px;
  letter-spacing: 2.5px;
  animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;


}
h2.subtitle2{

  font-family: Raleway;
  color: white;
  font-size: 26px;
	animation: appear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
  text-align: left;
  color: #FF985E;
  margin-left: 50px;
  letter-spacing: 2.5px;
  animation: fade-out-fwd 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


}

#iframe.map_frame {

margin-left: 20%;
margin-right: 20%;
align-self: center;

}

p.map_buttons {
   padding-left: 0%;
  padding-right: 0%;
  text-align: justify;

}


/* ----------------------------------------------
 * Generated by Animista on 2022-11-5 11:26:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@keyframes shadow-drop{
  0% {
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.3), 0 0 60px rgba(255, 152, 94, 0.2), 0 0 110px rgba(255, 152, 94, 0.1), 0 0 100px rgba(255, 152, 94, 0.05);
  }
  100% {
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.6), 0 0 60px rgba(255, 152, 94, 0.45), 0 0 110px rgba(255, 152, 94, 0.25), 0 0 100px rgba(255, 152, 94, 0.1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

 /* CSS */
 .button-19 {
   appearance: button;
   background-color: #1899D6;
   border: solid transparent;
   border-radius: 16px;
   border-width: 0 0 4px;
   box-sizing: border-box;
   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   font-family: din-round,sans-serif;
   font-size: 15px;
   font-weight: 700;
   letter-spacing: .8px;
   line-height: 20px;
   margin: 0;
   outline: none;
   overflow: visible;
   padding: 13px 16px;
   text-align: center;
   text-transform: uppercase;
   touch-action: manipulation;
   transform: translateZ(0);
   transition: filter .2s;
   user-select: none;
   -webkit-user-select: none;
   vertical-align: middle;
   white-space: nowrap;
   width: 20%;
   margin-left: 40%;
   margin-right: 40%;
	 animation: bounce 1.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s both;
 }

 .button-19:after {
   background-clip: padding-box;
   background-color: #1CB0F6;
   border: solid transparent;
   border-radius: 16px;
   border-width: 0 0 4px;
   bottom: -4px;
   content: "";
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   z-index: -1;
 }

 .button-19:main,
 .button-19:focus {
   user-select: auto;
 }

 .button-19:hover:not(:disabled) {
   filter: brightness(1.1);
   -webkit-filter: brightness(1.1);
 }

 .button-19:disabled {
   cursor: auto;
 }

.tbl_class{
  background-color: #132427;
  color: grey;

}

table{
  border: none;
  cellspacing : 0;
}

/* table {
 	width:100%;
 	border:1px solid $color-form-highlight;
   background: #ECB390;
   font-family:  "Roboto Slab";
   text-align: center;
 }
table td{

   text-align: center;
   padding: 5px;
 font-weight: lighter;
 }

table-header {
 	display:flex;
 	width:100%;
 	padding:($half-spacing-unit * 1.5) 0;
   text-align:center;
 }

table-row {
 	display:flex;
 	width:100%;
 	padding:($half-spacing-unit * 1.5) 0;

 	&:nth-of-type(odd) {
 		background: green;
 	}
 }

table-data, header__item {
 	flex: 1 1 20%;
 	text-align:center;
  color: white;


 } */








@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spark {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.45), 0 0 60px rgba(255, 152, 94, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.45), 0 0 60px rgba(255, 152, 94, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.45), 0 0 60px rgba(255, 152, 94, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.45), 0 0 60px rgba(255, 152, 94, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.45), 0 0 60px rgba(255, 152, 94, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.55), 0 0 60px rgba(255, 152, 94, 0.3);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.55), 0 0 60px rgba(255, 152, 94, 0.3);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.55), 0 0 60px rgba(255, 152, 94, 0.3), 0 0 100px rgba(255, 152, 94, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.55), 0 0 60px rgba(255, 152, 94, 0.3), 0 0 100px rgba(255, 152, 94, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.6), 0 0 60px rgba(255, 152, 94, 0.4), 0 0 110px rgba(255, 152, 94, 0.2), 0 0 100px rgba(255, 152, 94, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.6), 0 0 60px rgba(255, 152, 94, 0.4), 0 0 110px rgba(255, 152, 94, 0.2), 0 0 100px rgba(255, 152, 94, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 152, 94, 0.6), 0 0 60px rgba(255, 152, 94, 0.45), 0 0 110px rgba(255, 152, 94, 0.25), 0 0 100px rgba(255, 152, 94, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 15px rgba(255, 152, 94, 0.6), 0 0 30px rgba(255, 152, 94, 0.45), 0 0 100px rgba(255, 152, 94, 0.25), 0 0 90px rgba(255, 152, 94, 0.1);
  }
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fade-out-fwd {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(80px);
    opacity: 0;
  }
}
